/*
adapted from

http://techtalk.virendrachandak.com/sticky-header-and-footer-using-css/#axzz2tY8NrJF8

*/

body { 	
	background-image:url('http://www.blm.gov/pgdata/etc/medialib/blm/wy/programs/forestry.Par.27404.Image.-1.-1.1.gif');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	background-size:900px 900px;
	background-color: #000000;
	color:#B0B0B0;
	}

h1 {
	font-family: 'Galdeano', sans-serif;
	font-size: 50px;
	color: #21610B;
	margin-top: -10px;

}

p.foot {
	font-family: 'Galdeano', sans-serif;
	font-size: 20px;
	color: #E0E0E0;
	padding-bottom: 10px;
	margin-bottom: 15px;
	float: left;
}

#form_body {
	
	text-align: center;
	border:2px solid;
	border-radius:25px;
	background:rgba(160, 160, 160, 0.5); 
	height: 300px;
	vertical-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top-right-radius: 25px;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 25px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}


/* Reset body padding and margins */
body { 
		margin:0; 
		padding:0; }
 
/* Make Header Sticky */
#header_container { 
					background:rgba(0, 0, 0, 0.8); 
					border:medium groove #2E2E2E; 
					height:75px; 
					left: 0; 
					position:fixed;
					width:100%;
					top:0; 
					}
#header{ 
		line-height:75px; 
		margin:0 auto; 
		width:100%; 
		text-align:center; 
		}

#backround_img	{
	position: relative;
	margin: 0 auto;
	background-image: "http://www.blm.gov/pgdata/etc/medialib/blm/wy/programs/forestry.Par.27404.Image.-1.-1.1.gif"
}
 
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container {
			margin:0 auto; 
			overflow:auto; 
			padding:150px 0; 
			width:950px; }
#content{}


#button {
		font-family: 'Varela Round', sans-serif;
		background:#21610B;
		color:white;
		border-style:outset;
		border-color:#000000;
		height:30px;	
		width:100px;
		}
#button:hover {
		background:#000000;
		color:white;
		border-style:outset;
		border-color:#000000;	
		height:30px;
		width:100px;
		}
 
/* Make Footer Sticky */
#footer_container { 
					background:rgba(0, 0, 0, 0.8); 
					border:medium groove #2E2E2E; 
					bottom:0; 
					height:40px; 
					left:0;
					position:fixed; 
					width:100%; }


#footer {
		line-height:40px;
		margin:0 auto; 
		width:940px; 
		text-align:center; }
form {
	margin-top: 50px;
	color: rgb(0,0,0);
}
.form_font{
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	color: #000000;

}
.link_on_foot{
	font-family: 'Varela Round', sans-serif;
	color: #E0E0E0;
	float: left;
	margin-left: 30px;
	text-decoration:none;

}
.link_on_foot:hover{
	font-family: 'Varela Round', sans-serif;
	color: #84A983;
	text-decoration:none;

}
