/*
adapted from

http://techtalk.virendrachandak.com/sticky-header-and-footer-using-css/#axzz2tY8NrJF8

*/


<<<<<<< HEAD
h1 {
	font-family: 'Galdeano', sans-serif;
	font-size: 50px;
	color: #21610B;
	margin-top: -10px;

}

p.foot {
	font-family: 'Galdeano', sans-serif;
	font-size: 20px;
	color: #FBEFEF;
	padding-bottom: 10px;
	margin-bottom: 15px;
}


#form_body 
{
	margin-top: 200px;

	text-align: center;
	border:2px solid;
	background-color: #888888;
	border-top-right-radius: 40px;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 40px;
	height: 400px;
	text-align: center;
	background-color: lightgreen;
	display: table-cell;
	vertical-align: middle;
}


/* Reset body padding and margins */
body { 
		margin:0; 
		padding:0; }
 
/* Make Header Sticky */
#header_container { 

					background:rgba(0, 0, 0, 0.8); 
					border:medium groove #2E2E2E; 
					height:100px; 
					left: 0; 

					position:fixed;
					width:100%;
					top:0; 
					}
#header{ 
		line-height:150px; 
		margin:0 auto; 

		width:100%; 
		text-align:center; 
		color: rgb(0,0,0);}

#backround_img	{
	position: relative;
	margin: 0 auto;
	background-image: "http://www.blm.gov/pgdata/etc/medialib/blm/wy/programs/forestry.Par.27404.Image.-1.-1.1.gif"
}

 
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container {
			margin:0 auto; 
			overflow:auto; 

			padding:150px 0; 
			width:950px; }


#content{}


#button {
font-family: 'Varela Round', sans-serif;

background:#21610B;

color:white;

border-style:outset;

border-color:#000000;

height:40px;

width:100px;


}
#button:hover {

background:#000000;

color:white;

border-style:outset;

border-color:#000000;

height:40px;

width:100px;

}
 
/* Make Footer Sticky */
#footer_container { 
					background:rgba(0, 0, 0, 0.8); 
					border:medium groove #2E2E2E; 
					bottom:0; 
					height:60px; 
					left:0;
					position:fixed; 
					width:100%; }


#footer {
		line-height:60px;
		margin:0 auto; 
		width:940px; 
		text-align:center; }

