/*
adapted from

http://techtalk.virendrachandak.com/sticky-header-and-footer-using-css/#axzz2tY8NrJF8

*/

body { 	
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/de/Redwood_National_Park,_fog_in_the_forest.jpg");
	opacity: 0.8;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	background-size:900px 900px;
	background-color: #000000;
	color:#B0B0B0;
	}

h1 {
	font-family: 'Galdeano', sans-serif;
	font-size: 50px;
	color: #21610B;

}

.body_text{
	color: #000000;
	font-family: 'Galdeano', sans-serif;
	font-weight: bolder;
	font-size: 18px;

}

.body_header
{
	color: #000000;
	font-family: 'Galdeano', sans-serif;
	font-weight: bolder;
	font-size: 30px;

}

p.foot {
	font-family: 'Galdeano', sans-serif;
	font-size: 20px;
	color: #E0E0E0;
	padding-bottom: 10px;
	margin-bottom: 15px;
	float: left;
}
h2{
	color: #000000;
}
#form_body {
	
	text-align: center;
	border:4px solid;
	border-radius:25px;
	background:rgba(160, 160, 160, 0.95); 
	height: 100%;
	vertical-align: center;
	padding-bottom: 40px;
	border-top-right-radius: 25px;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/* Reset body padding and margins */
body { 
		margin:0; 
		padding:0; }
 
/* Make Header Sticky */
#header_container { 
					background:rgba(0, 0, 0, 0.9); 
					border:medium groove #2E2E2E; 
					height:75px; 
					left: 0; 
					position:fixed;
					width:100%;
					top:0; 
					margin-bottom: 75px;
					}
#header
{ 
	line-height:75px; 
	margin:0 auto; 
	width:100%; 
	text-align:center;
	margin-top: -50px;
}

.title
{
	font-family: 'Galdeano', sans-serif;
	font-variant:small-caps;
	letter-spacing: 15px;
	font-size: 75px;
	color: #21610B;
	text-shadow: -1px 0 #173B0B, 0 1px #173B0B, 1px 0 #173B0B, 0 -1px #173B0B;
}

#backround_img	{
	position: relative;
	margin: 0 auto;
	
}
 
/* CSS for the content of page. I am giving top and bottom padding of 80px to make sure the header and footer do not overlap the content.*/
#container 
{
	margin:0 auto; 
	overflow:auto; 
	padding:150px 0; 
	width:950px; 
	position: relative;
	top: 100px;		
}
#content
{

}


#button {
		font-family: 'Varela Round', sans-serif;
		background:#21610B;
		color:white;
		border-style:outset;
		border-color:#000000;
		height:30px;	
		width:100px;
		}
#button:hover {
		background:#000000;
		color:white;
		border-style:outset;
		border-color:#000000;	
		height:30px;
		width:100px;
		}
 
/* Make Footer Sticky */
#footer_container { 
					background:rgba(0, 0, 0, 0.8); 
					border:medium groove #2E2E2E; 
					bottom:0; 
					height:40px; 
					left:0;
					position:fixed; 
					width:100%; }


#footer {
		line-height:40px;
		margin:0 auto; 
		width:940px; 
		text-align:center; }
form {
	margin-top: 50px;
	color: rgb(0,0,0);
}
.form_font{
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	color: #000000;

}
.link_on_foot{
	font-family: 'Varela Round', sans-serif;
	color: #E0E0E0;
	float: left;
	margin-left: 30px;
	text-decoration:none;

}
.link_on_foot:hover{
	font-family: 'Varela Round', sans-serif;
	color: #84A983;
	text-decoration:none;

}

.text_on_foot{
	font-family: 'Varela Round', sans-serif;
	color: #E0E0E0;
	float: left;
	margin-left: 30px;
	text-decoration:none;
}

.alert {
	display: block;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #555;
	padding: 15px;h1
	color: #333;
	text-align: center;
	border-radius: 5px;
	font-family: 'Varela Round', sans-serif;
	font-size: 15px;
	margin-top:10px;
	margin-bottom:10px;
	border-top-right-radius: 25px;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 25px;
}

.alert-notice {
	background: #FAE3B1;
	border: 2px solid #DEC797;
	color: #82724F;
}

.alert-error {
	background: #FCACAC;
	border: 1px solid #D48787;
	color: #825353;
}

.detail {
		text-align: center;
	border:2px solid;
	border-radius:25px;
	background:rgba(160, 160, 160, 0.75); 
	height: 70%;
	vertical-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border-top-right-radius: 25px;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 25px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}